
<carousel>
  <slide>
    <img class="img-main-carousel" src="../../assets/images/natrue/1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      <p><a class="btn btn-default" href="/videos/video-1">Video 1</a> </p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="../../assets/images/natrue/2.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p><a class="btn btn-default" href="/videos/video-2">Video 2</a> </p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="../../assets/images/natrue/3.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <p><a class="btn btn-default" href="/videos/video-3">Video 3</a> </p>
    </div>
  </slide>
</carousel>

