
<carousel *ngIf="homeImageList">
  <slide *ngFor="let imageObj of homeImageList">
    <a class="" routerLink="/videos/{{ imageObj.slug }}" routerLinkActive="active">
    <img class="img-main-carousel" [src]="imageObj.image" alt="First slide">
  </a>

    <div class="carousel-caption">
      <h3>{{ imageObj.name }}</h3>

      <p><a class="btn btn-default" routerLink='/videos/{{ imageObj.slug }}' routerLinkActive="active">View</a> </p>
    </div>

  </slide>
<!--  <slide>
    <a class="" #imageTwo href="/videos/video-2" (click)="preventNormal($event,imageTwo)">
    <img class="img-main-carousel" src="../../assets/images/natrue/2.jpg" alt="Second slide">
    </a>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p><a class="btn btn-default" href="/videos/video-2">Video 2</a> </p>
    </div>
  </slide>
  <slide>
    <a class="" #imageThree href="/videos/video-3" (click)="preventNormal($event,imageThree)">
    <img class="img-main-carousel" src="../../assets/images/natrue/3.jpg" alt="Third slide">
    </a>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <p><a class="btn btn-default" href="/videos/video-3">Video 3</a> </p>
    </div>
  </slide>-->
</carousel>

